<pi-bcard
  title="title"
  subTitle="Card Sub Title"
  picTitile="Image Title"


  cardShadow="rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px"
  cardBorder="1px solid black"
  [cardWidth]="'15' + '%'"
  [cardml]="'1' + 'em'"
  [cardmr]="'1' + 'em'"
  [cardmt]="'1' + 'em'"
  [cardmb]="'1' + 'em'"

  src="../../../assets/images/pi-number-colourful.png"
  altText="alt Text"
  [imageWidth]="'100' + '%'"

  titlePosition="up"
  imagePosition="up"

  tml="0"
  sml="0"
  imageURL="https://github.com"
  imageTarget= "true"
  subFontFamily
  [subFontSize]="'20' + 'px'"
  subFontStyle="italic"
  subFontWeight="bold"
  subFontColor="red"
  subFontBGcolor="blue"
  subFontVariant="all-petite-caps"
  subFontKerning="normal"
  subFontShadow="2px 2px 5px red;"
  titleAlign="center"
  >
</pi-bcard>


<!--
  Title Font Properties

  titleFontFamily
  [titleFontSize]="'40' + 'px'"
  titleFontStyle="italic"
  titleFontWeight="bold"
  titleFontColor="red"
  titleFontBGcolor="blue"
  titleFontVariant="all-petite-caps"
  titleFontKerning="normal"
  titleFontShadow="2px 2px 5px red;"

 -->
